.mapa-page {
    height: 100vh;
    overflow: hidden;
}

.mapa-content {
    position: absolute;
    margin-left: 6%;
    /* espaço da navbar */
    margin-right: 30%;
    /* espaço do perfil */
    min-height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 60px 0 0 0px;
    width: 64%;
    height: 100%;
}

.recentralizar-mapa-button {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px 15px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 800
}