.navbar-container {
  height: 100vh;
  /* altura total da tela */
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #cda6d2;
  color: #fff;
  padding-top: 20px;
  width: 75px;
}

.navbar-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-btn-icon {
  padding: 15px 20px;
  width: 75px;
  height: 75px;
  border: none;
  color: white;
  font-size: 30px;
  border-radius: 0;
  /* quadrado */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-btn-icon:hover {
  background-color: #ed8dfa;
}