.calendario-page {
    height: 100vh;
    overflow: hidden;
}

.calendario-content {
    position: absolute;
    margin-left: 6%;
    /* espaço da navbar */
    margin-right: 30%;
    /* espaço do perfil */
    min-height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 60px 0 0 10px;
}