.eventoCard-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.eventoCard-body{
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #cda6d2;
  margin-bottom: 30px;
  width: 95%;
  max-width: 1200px;
}

.eventoCard-img{
  width: 50px;       
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 16px
}

.eventoCard-header{
  background-color: #cda6d2;
  display: flex;
  align-items: center;
  color: black;
  font-size: 25px;
}

.eventoCard-descricao{
  padding: 10px 20px;
  text-align: justify;
}