html,
body {
    height: 100%;
    margin: 0;
}

.criar-conta-page {
    min-height: 100vh;
    background-color: #cda6d2;
    display: flex;
    flex-direction: column;

}

.criar-conta-container {
    display: flex;
    height: 100%;
    flex: 1;
}

.criar-conta-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* Borda azul para a seção que contém logo e criar-conta */
}

.criar-conta-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* Borda verde para a logo */
}

.criar-conta-logo-img {
    height: 400px;
    margin-left: 100px;
}

.criar-conta-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
}

.criar-conta-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-criar-conta {
    background-color: #cda6d2;
    border: none;
    padding: 20px;
    border-bottom: solid 1px grey;
    padding-left: 5px;
    padding-bottom: 5px;
    outline: none;
    width: 50%;
    
}


.title-font {
    font-weight: 700;
}

.criar-conta-button {
    margin-top: 20px;
    background-color: #cda6d2;
    transition: background-color 1s;
    border-radius: 8px;
    width: 200px;
    height: 40px;
}

.criar-conta-button:hover {
    background-color: black;
    color: #cda6d2;
}

.criar-conta-dataNascimento-div {
    background-color: rgb(211, 211, 211);
    width: 50%;
    color: #817575;
}

.criar-conta-nascimento {
    width: 63.5%;
}

.criar-conta-nomecompleto-div{
    display: flex;
    align-items: center;
}

.criar-conta-cep{
    width: 33%;
}

.criar-conta-contaCriada{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.criar-conta-cidadeEstado-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.criar-conta-contaCriada h1{
    font-weight: 700;
}

.voltar-login-button{
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: black; 
  color: #cda6d2;
  border-radius: 8px;
  height: 40px;
}

.criar-conta-dataNascimento-div{
    background-color: #cda6d2;
}

.criar-conta-endereco-div{
    width: 50%;
}

.criar-conta-estado{
    flex:1;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    color: #817575;
    margin-right:10px;
}

.criar-conta-cidade{
    flex:1.5;
    
}