/* Header.css */

.header-container {
    background-color: #a687aa;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.5rem;
}