html,
body {
    height: 100%;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

.home-page {
    height: 100vh;
    overflow: hidden;
}

.home-content {
    position: absolute;
    margin-left: 6%;
    /* espaço da navbar */
    margin-right: 30%;
    /* espaço do perfil */
    min-height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 60px 0 0 10px;
}