html,
body {
    height: 100%;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

.home-page {
    height: 100vh;
    overflow: hidden;
}

.home-content {
    position: absolute;
    margin-left: 6%;
    /* espaço da navbar */
    margin-right: 30%;
    /* espaço do perfil */
    min-height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 60px 0 0 0px;
    width: 64%;
    height: 100%;
}

.home-painel-filtros {
    padding: 30px 30px;
    display: flex;
}

.home-painel-filtros-botao, .eventoCard-modalConfirmacao-button, .eventoCard-modalCancelar-button {
    border-radius: 10px;
    border: 1px solid #cda6d2;
    color: #cda6d2;
    background-color: white;
    padding: 10px;
    margin-right: 20px;
}

.home-painel-filtros-botao:hover, .eventoCard-modalConfirmacao-button:hover, .eventoCard-modalCancelar-button:hover {
    background-color: #cda6d2;
    color: white;
}

.home-painel-filtros-botao-container {
    /* background-color: blue; */
    flex: 2;
}

.home-painel-filtros-slider-container {
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    align-items: center;

}

.home-painel-filtros-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.home-painel-filtros-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.home-painel-filtros-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.filtros-slider-output{
    /* background-color: red; */
    padding: 10px;
    font-size: 20px;
}

.home-painel-filtros-botao.selecionado {
    background-color: #cda6d2;
    color: white;
}

.home-loading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-eventos-nao-encontrado{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.eventoCard-modalConfirmacao-container,.eventoCard-modalCancelar-container{
    background-color: rgba(70, 70, 70, 0.425);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventoCard-modalConfirmacao-body, .eventoCard-modalCancelar-body{
    background-color: white;
    width: 900px;
    height: 200px;
    border-radius: 20px;
}

.eventoCard-modalConfirmacao-header, .eventoCard-modalCancelar-header {
    border-bottom: 4px solid #cda6d2;
    height: 50px;
    font-size: 1.5rem;
    color: #cda6d2;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.eventoCard-modalConfirmacao-content, .eventoCard-modalCancelar-content{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.eventoCard-modalConfirmacao-button, .eventoCard-modalCancelar-button{
    height: 60px;
}

.eventoCard-modalCancelar-button-sim{
    border-radius: 10px;
    background-color: #df6060;
    border: 1px solid #df6060;
    color:white;
    padding: 10px;
    margin-right: 20px;
    height: 60px;
}

.eventoCard-modalCancelar-button-sim:hover{
    background-color: white;
    color:#df6060;
}