.eventosEmpresa-page {
    height: 100vh;
    overflow: hidden;
}

.eventosEmpresa-content {
    position: absolute;
    margin-right: 30px;
    margin-left: 60px;
    margin-top: 30px;
    /* espaço do perfil */
    min-height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 60px 0 0 0px;
    width: 66%;
    height: 100%;
}